.main-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 650px;
  margin: 0 auto;
  max-height: 1000px;
}

.footer-nav {
  width: 100%;
  margin-top: auto;
  height: 45px;
  background-color: lightslategray;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-nav a {
  display: block;
  text-align: center;
  align-self: center;
  text-decoration: none;
  color: inherit;
}
